.boton {
    width: 120px;
    padding: 5px;
    border-radius: 10px;
}

.boton:hover {
    background-color: green;
    color: white;

}

.boton::before {
    content: 'Pasa por encima';
}

.boton:hover::before {
    content: '¡Hecho!';
}
